{% extends "base.twig" %}

{% block title %}Home page{% endblock %}

{% block content %}
    <h1>Youtube Vido Searching Website</h1>
    <a href='/login'>Login</a>
    <a href='/register'>Register</a>
{% endblock %}